/*<МИКСИНЫ>===============================================================================================*/

/*<МИКСИНЫ>===============================================================================================*/

/*<ШРИФТЫ>===============================================================================================*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');
/*<Подключаем шрифты>===============================================================================================*/

@font-face {
  font-family: "Squad-LightItalic";
  src: url("../fonts/Squad-LightItalic.eot");
  src: local("☺"), url("../fonts/Squad-LightItalic.woff") format("woff"),
    url("../fonts/Squad-LightItalic.ttf") format("truetype"), url("../fonts/Squad-LightItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Squad-RegularItalic";
  src: url("../fonts/Squad-RegularItalic.eot");
  src: local("☺"), url("../fonts/Squad-RegularItalic.woff") format("woff"),
    url("../fonts/Squad-RegularItalic.ttf") format("truetype"), url("../fonts/Squad-RegularItalic.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Squad-SemiBoldItalic";
  src: url("../fonts/Squad-SemiBoldItalic.eot");
  src: local("☺"), url("../fonts/Squad-SemiBoldItalic.woff") format("woff"),
    url("../fonts/Squad-SemiBoldItalic.ttf") format("truetype"), url("../fonts/Squad-SemiBoldItalic.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
/*<Подключаем шрифты>===============================================================================================*/
@font-face {
  font-family: "Futura PT Book";
  src: url("../fonts/futura_pt_book.eot");
  src: local("☺"), url("../fonts/futura_pt_book.woff") format("woff"),
    url("../fonts/futura_pt_book.ttf") format("truetype"), url("../fonts/futura_pt_book.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT Light";
  src: url("../fonts/futura_pt_light.eot");
  src: local("☺"), url("../fonts/futura_pt_light.woff") format("woff"),
    url("../fonts/futura_pt_light.ttf") format("truetype"), url("../fonts/futura_pt_light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT Medium";
  src: url("../fonts/futura_pt_medium.eot");
  src: local("☺"), url("../fonts/futura_pt_medium.woff") format("woff"),
    url("../fonts/futura_pt_medium.ttf") format("truetype"), url("../fonts/futura_pt_medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT Bold";
  src: url("../fonts/futura_pt_bold.eot");
  src: local("☺"), url("../fonts/futura_pt_bold.woff") format("woff"),
    url("../fonts/futura_pt_bold.ttf") format("truetype"), url("../fonts/futura_pt_bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT Heavy";
  src: url("../fonts/futura_pt_heavy.eot");
  src: local("☺"), url("../fonts/futura_pt_heavy.woff") format("woff"),
    url("../fonts/futura_pt_heavy.ttf") format("truetype"), url("../fonts/futura_pt_heavy.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT Extra Bold";
  src: url("../fonts/futura_pt_extra_bold.eot");
  src: local("☺"), url("../fonts/futura_pt_extra_bold.woff") format("woff"),
    url("../fonts/futura_pt_extra_bold.ttf") format("truetype"), url("../fonts/futura_pt_extra_bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*<Иконочные шрифты>===============================================================================================*/

/*<Иконочные шрифты>===============================================================================================*/

/*<Шрифт по умолчанию>===============================================================================================*/

/*<Шрифт по умолчанию>===============================================================================================*/

/*<ПЕРЕМЕННЫЕ>===============================================================================================*/

/*<ПЕРЕМЕННЫЕ>===============================================================================================*/

/*<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================*/
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body.lock {
  overflow: hidden;
}
@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input,
button,
textarea {
  font-family: "";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================*/

/*<ОБОЛОЧКА>===============================================================================================*/
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.loaded {
}
/*<ОБОЛОЧКА>===============================================================================================*/

/*<ОСНОВНАЯ СЕТКА>===============================================================================================*/
.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 1182px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}
/*<ОСНОВНАЯ СЕТКА>===============================================================================================*/

/*<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>===============================================================================================*/

/*<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>===============================================================================================*/

/*<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>===============================================================================================*/

/*<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>===============================================================================================*/

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 1600px) {
  .container {
    max-width: 1340px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 980px;
  }
}
.header {
  margin: 10px 0 0 0;
}
.text,
.text-p {
  font-size: 14px;
  margin: 5px 0 0 0;
  font-weight: 600;
  color: #1e1e1e;
}
@media (max-width: 992px) {
  .text,
  .text-p {
    font-size: 12px;
  }
}
.text:hover {
  opacity: 0.7;
}
.d-flex {
  display: flex;
}
.head-info {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}
.social {
  flex: 1 1 33.3333%;
}
.shopping-cart {
  margin: 0 0 0 35px;
}
.facebook {
  background: url("../img/Facebook_icon.png.svg") 0 0 no-repeat;
  margin: 0 0 0 15px;
}
.facebook:hover {
  background: url("../img/Facebook-upper.png") 0 0 no-repeat;
}
.instagram {
  background: url("../img/instagram-iconi.png.svg") 0 0 no-repeat;
}
.instagram:hover {
  background: url("../img/instagram-upper.png") 0 0 no-repeat;
}
.user {
  background: url("../img/user1_114209 1.svg") 0 0 no-repeat;
}
.cart {
  background: url("../img/shopping_cart_icon_124391 1.svg") 0 0 no-repeat;
}
.social-img {
  width: 24px;
  height: 24px;
  transition: all 0.2s ease-out;
}
.social-hover:hover {
  transform: scale(1.1);
}
.user,
.cart {
  margin: 0 10px 0 0;
}
.header__body {
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10 0 0 0;
}
.header__logo img {
  max-width: 100%;
}
.header__menu {
  margin: 40px 0 0 0;
}
.header__list {
  display: flex;
  justify-content: space-between;
}
.header__list li {
  position: relative;
}
.header__list a {
  color: #ffffff;
  text-transform: uppercase;
}
.nav-btn {
  display: block;
  background-color: #1e1e1e;
  color: #ffffff;
  border-radius: 20px;
  padding: 10px 0;
  width: 150px;
  height: 34px;
  text-align: center;
  transition: all 0.3s ease-out;
}
.nav-btn:hover {
  color: #1e1e1e;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.18);
  background-color: #f5f5f5;
  font-weight: 600;
}
.header__list-child {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 1;
}
.header__list-child li {
  color: #f5f5f5;
  display: block;
  margin: 10px 0 0 0;
}
.header__list-child li:nth-child(4) .nav-btn__sub {
  padding: 2px 0;
  line-height: 14px;
  height: 32px;
}
.nav-btn__sub {
  display: block;
  background-color: #1e1e1e;
  color: #ffffff;
  border-radius: 20px;
  padding: 5px 0;
  width: 135px;
  height: 24px;
  text-align: center;
  font-size: 13px;
  transition: all 0.3s ease-out;
}
.header__list-child .nav-btn__sub:hover {
  background-color: #f5f5f5;
  color: #1e1e1e;
  box-shadow: none;
  border: 1px dashed #1e1e1e;
}
.header__list--horz {
  width: 100%;
}
.header__list--horz li:hover .header__list-child {
  max-height: 350px;
}
.header__list--horz .header__list-child {
  max-height: 0;
  top: 38px;
  left: 0;
  overflow: hidden;
  transition: max-height 0.4s linear;
}

@media (max-width: 992px) {
  .nav-btn {
    width: 140px;
  }
  .nav-btn__sub {
    width: 125px;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 768px) {
  /*------------------JS LOCK от скрина меню в адаптиве--------------------*/
  body.lock {
    overflow: hidden;
  }
  /*------------------JS LOCK от скрина меню в адаптиве END--------------------*/
  .head-info {
    display: none;
  }
  .header__list-child {
    display: none;
  }
  .header__logo {
    position: relative;
    z-index: 3;
    margin: 0;
  }
  /*------------------BURGER--------------------*/
  .header__burger {
    display: block;
    position: absolute;
    top: 10px;
    left: 5px;
    width: 20px;
    height: 18px;
    cursor: pointer;
    z-index: 4;
  }
  .header__burger span {
    position: absolute;
    background-color: #1e1e1e;
    left: 0;
    top: 8px;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease-in;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #1e1e1e;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease-in;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 8px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 8px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  /*------------------BURGER END--------------------*/
  /*------------------JS выезжащие MENU и бэкграунд--------------------*/
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eeeaee;
    overflow: auto;
    transition: all 0.7s linear;
    z-index: 2;
    margin: 0;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 110px 0 0 0;
  }
  /*------------------JS выезжащие MENU и бэкграунд END--------------------*/
  .header__list li {
    margin: 0 0 25px 0;
  }
  .nav-btn {
    padding: 8px 0;
    width: 130px;
    height: 30px;
  }
  .reg-profile {
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0;
  }
  .text {
    font-size: 14px;
  }
}
/*------------------Header End--------------------*/
.content {
}
.main-image {
  margin: 20px 0 0 0;
  padding: 0 0 65% 0;
  overflow: hidden;
  position: relative;
}
@media (max-width: 768px) {
  .main-image {
    margin: 10px 0 0 0;
  }
}
.main-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
/*------------------Section Slider--------------------*/

.models__title {
  font-size: 46;
  text-align: center;
  font-family: "Squad-LightItalic";
  margin: 30px 0;
}
@media (max-width: 440px) {
  .models__title {
    font-size: 40;
  }
}
.container-slider {
  padding: 0;
}
@media (max-width: 630px) {
  .container-slider {
    max-width: 320;
  }
}
.slider {
}
.slider__body {
  /*display: flex;*/
  justify-content: space-between;
  text-align: center;
}
.slider__item {
  flex-direction: column;
  padding: 0 12px 0 12px;
  position: relative;
}

/*.slider__item:last-child {
  padding: 0 0 0 12px;
}
.slider__item:first-child {
  padding: 0 12px 0 0;
}*/

.slider__icon {
  overflow: hidden;
  height: 405px;
}
.slider__icon:hover {
  transform: scale(1.02);
  transition: all 0.3s linear;
}
.slider__icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .slider__icon {
    overflow: hidden;
    height: 465px;
  }
}
@media (max-width: 630px) {
  .slider__icon {
    overflow: hidden;
    height: 381px;
  }
  .slider__icon img {
    width: 100%;
    height: 100%;
    object-fit: none;
  }
  .slider__item {
    flex-direction: column;
    padding: 0;
  }
  .slider__icon:hover {
    transform: none;
    transition: none;
  }
}

.slider__text {
  margin: 10px 0 0 0;
}
p.slider__text {
  font-size: 16px;
  text-align: center;
}
.slider__button {
  display: block;
  text-align: center;
  background-color: #ffffff;
  border: 1px dashed black;
  padding: 10px 0;
  margin: 10px 0;
  color: #1e1e1e;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s ease-out;
}
.slider__button:hover {
  color: #ffffff;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.18);
  background-color: #1e1e1e;
}
.slider__addtofavorite {
  display: block;
  background: url("../img/white-heart.svg") 0 0 no-repeat;
  width: 32px;
  height: 30px;
  position: absolute;
  bottom: 113;
  left: 15;
}
@media (max-width: 630px) {
  .slider__addtofavorite {
    left: 5;
  }
}
.slider__addtofavorite:hover {
  cursor: pointer;
  animation-name: heartbeat;
  animation-duration: 0.6s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}
.slider__addtofavorite.simple {
  background: url("../img/black-heart.svg") 0 0 no-repeat;
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/* Слайдер */
.slick-slider {
  position: relative;
  padding: 0 30px;
}
/* Слайдер запущен */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}

/* Стрелка */
.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  font-size: 0;
  width: 30px;
  height: 30px;
  margin: -60px 0 0 0;
}
/* Стрелка влево */
.slick-arrow.slick-prev {
  left: 0;
  background: url("../img/back.svg") 0 0 / 100% no-repeat;
}
.slick-arrow.slick-prev:hover {
  opacity: 0.4;
}
/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 0;
  background: url("../img/next.svg") 0 0 / 100% no-repeat;
}
.slick-arrow.slick-next:hover {
  opacity: 0.4;
}

/* Точки (булиты) */
.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-dots li {
  list-style: none;
  margin: 0 10px;
}
/* Элемент точки */
.slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #1e1e1e;
  border-radius: 50%;
  opacity: 0.6;
}
/* Активная точка */
.slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #1e1e1e;
}
/*------------------Section Slider END--------------------*/

/*------------------Section Sale --------------------*/
.sale__title {
  font-size: 46;
  text-align: center;
  font-family: "Squad-LightItalic";
  margin: 30px 0;
}
@media (max-width: 440px) {
  .sale__title {
    font-size: 40;
  }
}
.sale {
  background-color: #e5e5e5;
}
.sale__columns {
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
}
.sale__column-one {
  position: relative;
  margin: 0 30px 0 0;
}
.sale__column-two {
  display: flex;
  position: relative;
}
@media (max-width: 736px) {
  .sale__columns {
    flex-wrap: wrap;
    justify-content: center;
  }
  .sale__column-one {
    margin: 0;
  }
}
.item_one img {
  max-width: 100%;
  height: auto;
}
.item_two {
  padding: 10px 30px 0 0;
}
.item_two img {
  max-width: 100%;
  height: auto;
}
.column__text_white {
  position: absolute;
  bottom: 10;
  right: 10;
  writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
  color: #fdf9f7;
  font-size: 15px;
}
.column__text_black {
  color: #1e1e1e;
  position: absolute;
  bottom: 10;
  right: 10;
  writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
  font-size: 13px;
}
@media (max-width: 1200px) {
  .column__text_black {
    font-size: 14px;
    position: absolute;
    top: 10;
    right: 0;
    writing-mode: none;
    -webkit-transform: none;
  }
}
@media (max-width: 970px) {
  .column__text_black {
    font-size: 12px;
  }
}
/*------------------Section Sale END --------------------*/

/*------------------Section Fashion --------------------*/
.fashion__title {
  font-size: 46;
  text-align: center;
  font-family: "Squad-LightItalic";
  margin: 40px 0 0 0;
}
@media (max-width: 440px) {
  .fashion__title {
    font-size: 40;
  }
}
.fashion__brand {
  position: relative;
  margin: 20px 0;
}
.fashion__body {
  margin: 0 0 10px 0;
}
.fashion__list {
  display: flex;
  justify-content: center;
  
}
.fashion__list li {
  display: inline-block;
  width: calc((100% - 16px) / 6);
  margin: 8px;
  opacity: 1;
}
.fashion__list li:hover {
  animation-name: heartbeat;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}


.fashion__list li:nth-child(1) {
  margin-left: 0px;
}
.fashion__list li:nth-child(6) {
  margin-right: 0;
}

@media (max-width: 960px) {
  .fashion__list li {
    width: calc((100% - 60px) / 4);
  }
  .fashion__list li:nth-child(4) {
    margin-right: 0;
  }
  .fashion__list li:nth-child(5) {
    margin-left: 0;
  }
  .fashion__list {
    flex-wrap: wrap;
  }
}

@media (max-width: 736px) {
  .fashion__list li {
    width: calc((100% - 32px) / 2);
  }
  .fashion__list li:nth-child(odd) {
    margin-left: 0;
  }
  .fashion__list li:nth-child(even) {
    margin-right: 0;
  }
}


.fashion__list img {
  width: 100%;
  height: auto;
  display: inline-block;
}
.fashion_delivery {
  background-color: #000000;
  text-align: center;
}
.fashion_delivery a {
  display: inline-block;
  padding: 15px 0;
  color: #e5e5e5;
  font-size: 15px;
}
/*------------------Section Fashion END --------------------*/
/*------------------Section News --------------------*/

.news__title {
  font-size: 46;
  text-align: center;
  font-family: "Squad-LightItalic";
  margin: 40px 0;
}
@media (max-width: 440px) {
  .news__title {
    font-size: 40;
  }
}
.fashion__news {
  background-color: #eee;
  border-top: 1px solid #1e1e1e;
  border-bottom: 1px solid #1e1e1e;
}
.fashion__news:before,
.fashion__news:after {
  content: "";
  display: block;
  width: 100%;
  border: 1px solid #ECDCCC;
}
.news__body {
  display: flex;
  justify-content: space-between;
}
.news__text {
 margin: 80px 0 0 0;
 width: 670px;
}
.news__text p {
  font-size: 16px;
  line-height: 25px;
  padding: 0 0 35px 0;
}
.news__text p:last-child {
  padding: 0;
}
.news__image {
  margin: 25px 0 25px 25px;
}
.news__image p {
  margin: 10px 0 0 0;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
}
.news__image p:last-child{
  margin: 0;
  font-weight: 400;
  font-size: 15px;
}
@media (max-width: 820px) {
  .news__text {
    margin: 5px 0 0 0;
  }
  .news__text p {
   font-size: 15px;
   line-height: 20px;
   padding: 0 0 20px 0;
  }
  .news__image {
    margin: 10px 0 25px 15px;
  }
}
@media (max-width: 610px) {
  .news__body {
    flex-wrap: wrap;
    justify-content: center;
  }
  .news__text {
    text-align: center;
  }
  .news__image {
    margin: 40px 0 10px 0;
    text-align: center;
  }
  .news__image img {
    width: 100%;
  }
}

.underline-magical{
  background-image: linear-gradient(120deg, rgb(240, 147, 251) 0%, #F3D0CB 100%);
  background-repeat: no-repeat;
  background-size: 100% 3px;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
.underline-magical:hover {
  background-size: 100% 90%;
}
.read-more {
  color: #1e1e1e; 
  font-weight: 700; 
  font-size: 14px; 
  padding: 5px 10px; 
  background-color: #E9C7B7;
  border-radius: 5px; 
}

.news__subscription {
  margin: 40px 0 60px 0;
  position: relative;
}
@media (max-width: 600px) {
.news__subscription {
  margin: 40px 0 0 0;
 }
}
.subscription__bg{
  overflow: hidden;
  position: relative;
  padding: 0 0 15% 0;
}
@media (max-width: 890px) {
  .subscription__bg  {
    padding: 0 0 20% 0; 
  }
}
@media (max-width: 620px) {
  .subscription__bg  {
    padding: 0 0 40% 0;   
  }
}
.subscription__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left:0;
}
.news__subscription p {
  color: #e5e5e5;
  padding: 25px 0 0 0;
  font-size: 36px;
  position: absolute;
  top: 0;
}
@media (max-width: 890px) {
  .news__subscription p {
  font-size: 26px;
  padding: 10px 0;
 }
}
@media (max-width: 420px) {
  .news__subscription p {
  font-size: 20px;
  padding: 10px 0;
  }
}

.registration-form {
  position: absolute;
  top: 90;
}
@media (max-width: 890px) {
  .registration-form {
    top: 60;
  }
}
@media (max-width: 420px) {
  .registration-form {
    top: 50;
  }
}

label input{
  border: none;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: inset 2.5px 4.3px 5px rgba(0,0,0,.04);
  font-size: 16px;
	line-height: 25px;
	font-weight: 500;
  outline: none;
  width: 220px;
  height: 30px;
}
@media (max-width: 500px) {
  label input {
	line-height: 10px;
  width: 185px;
  height: 25px;
  }
}

form button{
	background: rgba(235, 176, 94, 0.9);
  border: 1px solid #5E592F;
  border-radius: 3px;
	line-height: 15px;
  padding: 9px 10px;
  font-size: 17px;
  transition: all 0.1s linear;
  border-radius: 3px;
  margin: 0 0 0 3px;
}
@media (max-width: 500px) {
  form button {
    position: absolute;
    left: -5;
    top: 40;
    padding: 5px;
  }
}

form button:hover,
form button:focus,
form button:active {
	background-image: linear-gradient(90deg, rgb(213, 174, 118) 0%, rgb(243, 220, 217) 100%);
  outline: none;
  transform: scale(1.02);
}
/*------------------Section News END --------------------*/
/*------------------Footer--------------------*/
.social_payments{
  display: flex;
  justify-content: center;
  border-top: 1px solid #eee;
}
@media (max-width: 600px) {
  .social_payments {
    display: none;
  }
}
.social__link {
  display: flex;
  align-items: center;
}
.facebook-link {
  display: inline-block;
  background: url("../img/Facebook_icon.png") 0 0 no-repeat;
  width: 16px;
  height: 30px;
  padding: 0 60px 0 0;
}
.facebook-link:hover {
  background: url("../img/facebook-iconi.png") 0 0 no-repeat;
  transition: all 0.2s ease-out;
}
.instagram-link {
  display: inline-block;
  background: url("../img/instagram-icon.png") 0 0 no-repeat;
  width: 29px;
  height: 30px;
  padding: 0 75px 0 0;
}
.instagram-link:hover {
  background: url("../img/instagram-iconi.png 1.png") 0 0 no-repeat;
  height: 29px;
  transition: all 0.2s ease-out;
}
.vk-link {
  display: inline-block;
  background: url("../img/VK_icon.png") 0 0 no-repeat;
  width: 30px;
  height: 30px;
}
.vk-link:hover {
  background: url("../img/vk-iconi.png") 0 0 no-repeat;
  transition: all 0.2s ease-out;
}
.payments__logo {
  display: inline-block;
  margin: 20px 0 20px 50px;
  padding: 0 0 0 50px;
  border-left: 1px solid #999;
}
.payments-icon {
  padding: 0 35px 0 0;
}
.payments-icon:last-child {
  padding: 0;
}
.footer__info {
  background-color: #eee;
  font-size: .875rem;
}
@media (max-width: 768px) {
  .footer__info {
  background-color: #ffffff;  
  }
}
.info__body {
  display: flex;
  padding: 32px;
}
@media (max-width: 768px) {
  .info__body {
    display: block;
    padding: 10px 20px;
  }
}
.det-row {
 flex: 1 1 0%;
 margin-left: 55px;
}
.det-row:first-child {
 margin-left: 0px;
}
[open].det-row  {
  animation: fade .6s ease-in-out;
}
@keyframes fade {
  0%   {opacity: 0.5;}
  100% {opacity: 1;}
}
@media (max-width: 768px) {
  .det-row {
	margin: 20px auto;
	box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1),
	0 10px 10px -5px rgba(0, 0, 0, 0.04);
	background: #eee;
	border-radius: 4px;
  }
}
summary::-webkit-details-marker {
  display: none;
}
.sum-row {
  position: relative;
  color: #666;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0 0 15px 0;
  font-family: "Futura PT Heavy";
  pointer-events: none;
  outline-style: none;
 }
 @media (max-width: 768px) {
  .sum-row {
    padding: 10px 0;
    pointer-events: initial;
    cursor: pointer;
  }
  .sum-row:before,
  .sum-row:after {
    content: '';
    width: 10px;
    height: 2px;
    position: absolute;
    top: 20;
    right: 10;
    background-color: #666;
    transform: translateY(-50%);
    transition: transform .2s ease-in-out;
  }
  .sum-row:after {
    transform: translateY(-50%) rotate(90deg);
  }
  [open] .sum-row:after{
    transform: translateY(-50%) rotate(180deg);
  }
 }

.a-row {
display: block;
line-height: 30px;
letter-spacing: .4px;
color: #666;  
font-family: "Futura PT Book";
}
@media (max-width: 768px) {
  .a-row{
    background: rgb(246, 246, 246);
  }
 }
 
.hov:hover {
  color: #0770cf;
}

.footer__low {
  width: 100%;
  background-color: #ddd;
  font-family: "Futura PT Book";
  font-size: .75rem;
}
.low__body {
 display: flex;
 align-items: center;
 height: 50px;
 justify-content: space-between;
 padding: 0 32px;
}
@media (max-width: 768px) {
  .low__body {
    padding: 0 10px;
  }
  .low-list li {
    line-height: 25px;
  }
}
.low__text {
  color: #2d2d2d;
  letter-spacing: .4px;
  flex: 0 0 90px;
}
.low-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.low-list li {
  position: relative;
  display: inline-block;
  padding-right: 6px;
}
.low-list li a{
  color: #2d2d2d;
  text-decoration: none;
  display: inline-block;
  padding: 0 4px;
  font-size: 100%;
}
.low-list li:not(:last-child):after {
  content: '|';
  display: inline;
  position: absolute;
  right: 0;
}
@media (max-width: 768px) {
  .low-list li:not(:last-child):after {
    content: '';
  }
  .low-list li:last-child {
    display: none;
  }
}